{% extends 'base.html.twig' %}

{% block title %}Qui Somme Nous{% endblock %}

{% block body %}

    <section class="hero is-info is-large">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Large title
                </h1>
                <h2 class="subtitle">
                    Large subtitle
                </h2>
            </div>
        </div>
    </section>

    <article class="section">
        <div class="container">
            <h1 class="title has-text-centered">La Five’sTv recrute ! Rejoignez nos couleurs !</h1>
            <h2 class="subtitle">La Five’sTv en quelques mots :</h2>
            L’association Five'sTv régie sous la loi du 1er juin 1924 à pour but de réunir des femmes et des hommes en situation de handicap ou non afin de créer une mixité autour des jeux vidéos dans le monde du gaming et du eSport. Tous les joueur(euse)s sont les bienvenues à venir nous rejoindre, et participer au développement de l’association sur les différents projet qu’elle mène.
            En plus de vouloir prouver à tous que l’handicap n’est pas une barrière et que nous pouvons en faire une force, mais également de propager une mixité conséquente dans le monde du jeu vidéo, les projets menés par l’association sont:
            - la création de communauté de jeu
            - la mise a disposition de serveurs de jeux pour nos membres
            - la constitution d’équipes eSport
            - la réalisation d'évènements communautaire
            - la mise en place de rencontre IRL
            - la formation au stream

            Pourquoi adhérer ?
            Adhérer à l’association c’est avant tout le plaisir de faire partit d’un groupe de potes qui jouent ensemble et souhaitent améliorer et développer des activités communes autour du jeu vidéo.
            Être membre c’est souhaiter encourager l’association à se développer, par la cotisation annuelle, et avoir la possibilité de participer activement à son développement, et aux différents évènement qu’elle propose.
            Les Avantages des adhérents Five'sTv :
            – Faire partie d’un groupe de joueurs soudés qui évoluent ensemble.
            – Bénéficier d’un espace exclusif sur le Discord et le forum.
            – Avoir a disposition différents moyens (site, réseau, serveurs par exemple) de l’association pour développer des projets, ouvrir des sections de jeu, organiser des événements.
            – Réduction sur tous les produits de notre boutique.
            – Participer aux événements de l’association (AG, Sorties IRL, Conventions, Tournois, Lan ..)
            – Profiter des tarifs groupe, et/ou des prises en charge lors des événements de l’association.
            - Participer aux concours réservés aux membres de l'association Five'sTv

            Comment Adhérer ?
            En contactant un membre du bureau afin d'obtenir les documents nécessaires, puis en remplissant le formulaire d’adhésion et en payant la cotisation.

            Prix de la cotisation :
            La cotisation annuelle s’élève a :
            20,00€ durant le premier semestre pour une personne majeur
            10, € durant le deuxième semestre pour une personnes majeur
            10,00€ durant le premier semestre pour une personne mineur
            5 € durant le deuxième semestre pour une personnes mineur
            Elle est valable à partir du jour de la validation de l’adhésion et jusqu’au 31 décembre de l’année en cours.
        </div>
    </article>

{% endblock %}
