{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <article>
        <section class="container">
            <p>slider</p>
        </section>
    </article>
{% endblock %}
