{% extends 'base.html.twig' %}

{% block title %}Qui Somme Nous{% endblock %}

{% block body %}

    <section class="hero is-warning is-large">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-uppercase has-text-danger has-text-white">
                    Notre Histoire
                </h1>
            </div>
        </div>
    </section>

    <article class="section">
        <div class="container">
            <h2 class="subtitle size has-text-weight-bold margin-btm has-text-centered has-text-danger">Timeline sur
                l'histoire de la Five'sTV</h2>
        </div>
        <section class="section-slideshow-timeline section-slideshow">
            <section class="inside">
                <section class="within">
                    <ul class="slideshow">
                        <li class="slide active"
                            style="left:0%;background-image:url(https://game-guide.fr/wp-content/uploads/2013/07/TM2_Stadium_KeyArt_Landscape.jpg);"></li>
                        <li class="slide"
                            style="left:100%;background-image:url(https://www.xymag.tv/wp-content/uploads/2011/09/trackmania-nations-forever-2.jpg);"></li>
                        <li class="slide"
                            style="left:200%;background-image:url(https://game-guide.fr/wp-content/uploads/2013/07/TM2_Stadium_KeyArt_Landscape.jpg);"></li>
                        <li class="slide"
                            style="left:300%;background-image:url(https://www.xymag.tv/wp-content/uploads/2011/09/trackmania-nations-forever-2.jpg);"></li>
                        {#<li class="slide" style="left:400%;background-image:url(https://game-guide.fr/wp-content/uploads/2013/07/TM2_Stadium_KeyArt_Landscape.jpg);"></li>#}
                        {#<li class="slide" style="left:500%;background-image:url(https://www.xymag.tv/wp-content/uploads/2011/09/trackmania-nations-forever-2.jpg);"></li>#}
                        {#<li class="slide" style="left:600%;background-image:url(https://game-guide.fr/wp-content/uploads/2013/07/TM2_Stadium_KeyArt_Landscape.jpg);"></li>#}
                        {#<li class="slide" style="left:700%;background-image:url(https://www.xymag.tv/wp-content/uploads/2011/09/trackmania-nations-forever-2.jpg);"></li>#}
                        {#<li class="slide" style="left:800%;background-image:url(https://game-guide.fr/wp-content/uploads/2013/07/TM2_Stadium_KeyArt_Landscape.jpg);"></li>#}
                    </ul>
                </section>
                <ul class="figcaption">
                    <li class="active">
                        <h2 class="title">2015</h2>
                        <p class="text">Création de la <strong>Five'sTv</strong> courant 2015 en tant que projet
                            indépendant solo sur Youtube et Twitch. Petit à petit, le nom a pris de l'ampleur et est
                            devenu celui d'une communauté Multigaming.</p>
                        <p class="text">Sortie à la Paris Games
                            eek <strong>"PGW"</strong> durant 3jours.</p>
                        <p class="text">Session trackmania avec le joueur pro <strong>Koenz</strong>.</p>
                        <p class="text">Lancement de partenariats avec: <strong>Team Cinoz </strong>(Team Esport),
                            <strong>Altro </strong>(Illustrateur indépendant), <strong>Ouikos </strong>(Concepteur de
                            maillots et de t-shirts Gaming"Fun") et <strong>PartyMatching </strong>(Réseau Social pour
                            gamers).</p>
                    </li>
                    <li>
                        <h2 class="title">2016</h2>
                        <p class="text">Restructuration de la chaine Twitch en <strong>WebTv </strong>et lancement des
                            recrutements de Streamers sur différentes plateformes.</p>
                        <p class="text">De nouveaux partenariats ont été mis en place: <strong>Feartyberz </strong>(Compositeur
                            indépendant), <strong>Hidelines </strong>(Basé sur l'actualité des jeux vidéo et des
                            interviews), <strong>Kinguin </strong>(Plateforme d'achat et de vente de jeux
                            dématérialisés) et <strong>Speed-Heberg </strong>(Location de serveurs de jeux et
                            vocaux).<strong></strong></p>
                        <p class="text">Lancement du site de la communauté <strong>Five'sTv.fr </strong>comprenant la partie multi-gaming.</p>
                        <p class="text">Conception et commande de nos premiers T-shirt grâce à notre partenaire <strong>Ouikos</strong>.</p>
                        <p class="text">Sortie dans les Gorges du Verdon durant une semaine avec la <strong>Co-Directrice </strong> de la Five'sTv, un <strong>streamer </strong> ainsi qu'un <strong>Membre </strong>(VLOG sur Youtube).</p>
                    </li>
                    <li>
                        <h2 class="title">2017</h2>
                        <p class="text">TEST</p>
                    </li>
                    <li>
                        <h2 class="title">2018</h2>
                        <p class="text">TEST</p>
                    </li>
                </ul>
                <svg class="background" viewBox="0 0 2818 500" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g>
                        <polygon fill="#FFFFFF" fill-opacity="1" points="0 0 1261 0 1410 500 0 500"></polygon>
                    </g>
                </svg>
                <ul class="nav">
                    <li class="active"><span>2015</span>
                        <svg viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g>
                                <polygon class="burst"
                                         points="5.953634 0.0002168 3.862139 3.8856606 0 6.0215978 3.894657 8.1282682 6.04577 11.9974527 8.137265 8.1120089 11.999946 5.9771556 8.104746 3.8704852"></polygon>
                                <polygon
                                        points="5.96138399 1.0002168 4.21846365 4.23883262 1 6.01919038 4.24556211 7.77515352 6.03816434 11.0002168 7.78108468 7.76160098 11 5.98214668 7.75398539 4.22618354"></polygon>
                            </g>
                        </svg>
                    </li>
                    <li><span>2016</span>
                        <svg viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g>
                                <polygon class="burst"
                                         points="5.953634 0.0002168 3.862139 3.8856606 0 6.0215978 3.894657 8.1282682 6.04577 11.9974527 8.137265 8.1120089 11.999946 5.9771556 8.104746 3.8704852"></polygon>
                                <polygon
                                        points="5.96138399 1.0002168 4.21846365 4.23883262 1 6.01919038 4.24556211 7.77515352 6.03816434 11.0002168 7.78108468 7.76160098 11 5.98214668 7.75398539 4.22618354"></polygon>
                            </g>
                        </svg>
                    </li>
                    <li><span>2017</span>
                        <svg viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g>
                                <polygon class="burst"
                                         points="5.953634 0.0002168 3.862139 3.8856606 0 6.0215978 3.894657 8.1282682 6.04577 11.9974527 8.137265 8.1120089 11.999946 5.9771556 8.104746 3.8704852"></polygon>
                                <polygon
                                        points="5.96138399 1.0002168 4.21846365 4.23883262 1 6.01919038 4.24556211 7.77515352 6.03816434 11.0002168 7.78108468 7.76160098 11 5.98214668 7.75398539 4.22618354"></polygon>
                            </g>
                        </svg>
                    </li>
                    <li><span>2018</span>
                        <svg viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g>
                                <polygon class="burst"
                                         points="5.953634 0.0002168 3.862139 3.8856606 0 6.0215978 3.894657 8.1282682 6.04577 11.9974527 8.137265 8.1120089 11.999946 5.9771556 8.104746 3.8704852"></polygon>
                                <polygon
                                        points="5.96138399 1.0002168 4.21846365 4.23883262 1 6.01919038 4.24556211 7.77515352 6.03816434 11.0002168 7.78108468 7.76160098 11 5.98214668 7.75398539 4.22618354"></polygon>
                            </g>
                        </svg>
                    </li>
                </ul>
                <ul class="timeline">
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                    <li>
                        <svg viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <polygon id="Shape"
                                     points="3.96908933 0.000144533333 2.57475933 2.5904404 0 4.01439853 2.596438 5.41884547 4.03051333 7.9983018 5.42484333 5.40800593 7.999964 3.9847704 5.403164 2.58032347"></polygon>
                            <polygon id="Shape"
                                     points="3.97425599 0.6668112 2.81230911 2.82588841 0.666666667 4.01279359 2.83037473 5.18343568 4.02544289 7.33347787 5.18738979 5.17440065 7.33333333 3.98809779 5.1693236 2.81745569"></polygon>
                        </svg>
                    </li>
                </ul>
            </section>
            <div class="controls">
                <div></div>
            </div>
        </section>
    </article>

{% endblock %}
