{% extends 'base.html.twig' %}

{% block title %}Qui Somme Nous{% endblock %}

{% block body %}

    <section class="hero qsn is-large">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-uppercase has-text-danger has-text-white">
                   Qui somme-nous
                </h1>
            </div>
        </div>
    </section>

    <article class="section qsn">
        <div class="container">
            <h2 class="title has-text-centered has-text-danger margin-btm">La Five’sTv recrute ! Rejoignez nos couleurs !</h2>
            <h3 class="subtitle has-text-white margin-btm">La Five’sTv en quelques mots :</h3>
            <p class="has-text-white margin-btm">
                La Five’sTv c’est une association régie par la loi 1924 dont le but est de réunir des femmes et des
                hommes en situation de handicap ou non afin de créer une mixité dans le monde du gaming et du eSport.
                mais également d’offrir aux visiteurs du site une information continue et de qualité sur tous les sujets
                touchant au domaine du jeu vidéo : actualité, trailer, date de sortie, images, eSport mais également de
                faire découvrir son univers et ses jeux aux joueurs. Dans ce cadre, l’équipe de FivesTv.fr est composée
                joueurs, de rédacteurs, de testeurs, de streamers, d’équipes eSport passionnés par le jeu-vidéo qui
                produisent du contenu sur divers supports
            </p>
            <p class="has-text-white margin-btm">
                Depuis deux ans maintenant, la Five’sTv se développe avec et grâce aux joueurs. Dans le cadre de ce
                développement, nous recrutons des joueurs passionnés, intéressés par le fait de partager leurs
                connaissance autour de l’univers du gaming de façon bénévole.
            </p>
            <img class="margin-btm" src="{{ asset('images/header-1.jpg') }}" />
            <h4 class="has-text-danger has-text-weight-bold	 margin-btm">Quels sont les projets de la Five’sTv ?</h4>
            <p class="has-text-white margin-btm">L'Association Five’sTv met à la disposition de sa communauté un serveur Discord, un site
                internet, des services de nos partenaires, ainsi que les conseils et l'expérience des plus anciens afin
                d'aider sa communauté à faire valoir les valeurs de l’eSport Français.</p>
            <p class="has-text-white margin-btm">
                IRL vous tomberez sur les membres munis de leurs maillots confectionnés par Ouikos lors des grands
                événements auquel ils participent tels que la Paris Games Week, Gamers Assembly et divers LAN.
            </p>
            <h4 class="has-text-danger has-text-weight-bold	 margin-btm">Nos objectifs :</h4>
            <ul class="list has-text-white margin-btm">
                <li>Faire valoir la mixité homme/femme ainsi que les personne en situation de handicap dans le jeu vidéo
                    à différents niveaux
                </li>
                <li>Collaborer avec différentes structures pour faciliter l’accès aux jeux vidéo personnes en situation
                    de handicap
                </li>
                <li>Développer la communauté</li>
                <li>Organiser différents événements</li>
                <li>Proposer d'avantage d'équipe en LAN</li>
                <li>Promouvoir et professionnaliser les compétitions de jeux vidéos</li>
                <li>Agrandir notre notoriété avec des partenariats et sponsoring</li>
            </ul>
        </div>
    </article>

{% endblock %}
