@charset "UTF-8";

.qsn{

  //.title{
  //  display: block;
  //  //margin-bottom: 20px;
  //}

 .list{

   li{
     list-style-type: circle;;
     margin-left: 20px;
     margin-bottom: 5px;
   }
 }
}