@charset "utf-8";

// Device breakpoints
$desktop-wide: 2560;
$desktop-large: 1920;
$desktop-medium: 1440;
$desktop-small: 1280;
$tablet-landscape: 1024;
$tablet-portrait: 768;
$mobile-landscape: 640;
$mobile-portrait: 360;

$white: #FFFFFF;
//$white-bis: #F2F0F0;

//$grey-light: #DEDEDE;
$grey: #2e2e2e;
//$grey-dark: #606060;
$black: #000000;

//$purple: #671C3D;
//$primary: $purple;

$red: #8e0714;
$danger: $red;

//$blue: #0CBAEE;
//$info: $blue;

//$yellow: #FCC749;
//$warning: $yellow;

//$green: #30A878;
//$success: $green;


@import "../../../node_modules/bulma/bulma";
@import "../../../node_modules/bulma-extensions/bulma-carousel/src/sass/index";

@import "commons";
@import "homepage";
@import "qsn";





